.body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLeft,
.navbarCenter,
.navbarRight {
  display: flex;
}

.navbarCenter {
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.section {
  text-align: center;
  margin: 50px auto;
}

.ul {
  list-style: none;
  padding: 0;
}

.li {
  margin: 10px 0;
}

.navbarRight span {
  margin-left: auto;
}

.tarefasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.tarefa {
  border: 2px dotted #000000;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
}

.tarefa h2 {
  text-align: center;
}

.tarefa .p {
  font-weight: bold;
  margin: 5px 0;
}

.title {
  text-align: center;
}