/* styles.module.css */

.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://img.freepik.com/free-photo/business-people-are-brainstorming_53876-137640.jpg?w=900&t=st=1702581295~exp=1702581895~hmac=6fed8e76ed278e6e19d4430e2c7fc60d517d4ad400edc5d8089febd4904a6ede') center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.loginForm {
    text-align: center;
}

.loginForm h2 {
    margin-bottom: 20px;
    color: #333333;
}
  
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.button {
    background-color: #3498db;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;

}
  
.button:hover {
    background-color: #007bb5;
}

.paragrafo {
    color: #00000081;
    margin-top: 9px;
    margin-bottom: 9px;
}

.link {
    color: black;
    text-decoration: none;
}

.hr {
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
}
  