.body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}
  
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.registerForm {
    text-align: center;
}

.registerForm h2 {
    margin-bottom: 20px;
    color: #333333;
    position: relative;
}
  
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.button {
    background-color: #3498db;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 2px;
}
  
.button:hover {
    background-color: #007bb5;
}

.paragrafo {
    color: #00000081;
    margin-top: 9px;
    margin-bottom: 9px;
}

.link {
    color: black;
    text-decoration: none;
}

.hr {
    margin-bottom: 15px;
}

.spn {
    position: absolute;
    top: 0;
    right: 0;
}

.x {
    text-decoration: none;
    color: red;
}

@media only screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
}
  